body {
  background-color: #282c34;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: rgba(255, 255, 255, 0.928);
}

.App-footer {
  margin: 40px;
}

.Card-wrapper {
  position: relative;
  background-color: #505765;

  &.back {
    background-color: #636c7f;
  }
}

.Card-body {
  padding: 40px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: 800px;
  height: 250px;
}

.Card-body:hover {
  cursor: pointer;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.Card-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  color: #b4b9c3;
}

.Card-text {
  font-size: 4rem;
  margin: 0;
}

.Card-externaLinkContainer {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 10px;

  > a:hover {
    color: #ff5722;
  }
}

button {
  background-color: #73849d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.928);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  &.primary {
    background-color: #ff5722;
  }

  &.success {
    background-color: #27ae60;
  }

  &.failure {
    background-color: #e74c3c;
  }
}

a {
  color: #b4b9c3;
  font-size: calc(18px);
  text-decoration: none;
}
